.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.footer {
  display: flex;
  align-items: center;
  gap: var(--ifm-menu-link-padding-horizontal);
  border-top: 1px solid var(--ifm-toc-border-color);
  padding: var(--ifm-menu-link-padding-vertical)
    var(--ifm-menu-link-padding-horizontal);
}

.feedIcon {
  display: flex;
  align-items: center;
  color: var(--ifm-menu-color);
}

.feedIcon:hover {
  color: var(--ifm-menu-color-active);
}
